@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --safe-top: env(safe-area-inset-top, 0px);
    --safe-bottom: env(safe-area-inset-bottom, 0px);
  }
  
  body {
    @apply bg-bg text-text-primary antialiased font-sans overflow-hidden;
  }
}
